<!DOCTYPE html>
<html>
    <head>
        <title>Police Related Deaths</title>
        <!-- CSS styles -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Volkhov' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/styles.css" />

        <!-- Javascript files -->
        <script src="/js/angular.min.js"></script>
        <script src="/js/jquery-2.2.0.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.min.js"></script>
        <script src="/js/dirPagination.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body ng-app="app">
        <!-- Header -->
        <div class="header col-lg-12">
            Innocent or Incriminate?
        </div>
        <!-- Main content -->
        <div class="col-lg-12">
            <div class="col-lg-10 col-lg-offset-1 content-container">
                <!-- Introduction and instructions for angular component -->
                <div class="introduction">
                    With the recent controversies and social uproar surrounding the Black Lives Matter
                    movement, the police force as a whole has been under a good deal of public scrutiny
                    due to incidents involving police-involved fatalities. This data visualization application
                    is drawn from a dataset of over 2,000 recorded police-related deaths from 2013-2015.
                    Dive into the data and decide for yourself what implications these statistics have for our
                    law enforcement and our country.

                    <br><br>

                    Below is a list of all deceased individuals from the given dataset. Use the pagination panel below
                    the boxes to cycle through the data and the search bar to filter by any keywords. Click on any
                    of the boxes to view a dropdown with more detailed information on each person. When you are
                    finished viewing the personal information simply click the red X in the top right corner of
                    the box to close the dropdown.
                </div>
                <div ng-controller="MyController" id= "MyController" class="my-controller list-container">
                    <div class="row">
                        <span class="list-label">
                            Individuals Killed in Police-related Incidents
                        </span>
                        <!-- Search functionality filters based on keyword -->
                        <span class="search">
                            <input ng-model="q" id="search" class="form-control" placeholder="Search by keyword">
                        </span>
                    </div>
                    <!-- Individual deaths boxes with pagination component -->
                    <div class="row box-container">
                        <div ng-model="pageSize"></div>
                        <!-- Link to pagination section -->
                        <dir dir-paginate="person in deceased | filter:q | itemsPerPage: pageSize" current-page="currentPage" ng-click="displayIndivudualInfo(person)">
                            <div class="boxes" >
                                <div class="box-name">{{ person.Name }}</div>
                                <div class="box-info"><span class="box-info-label">Gender: </span>{{ person.Gender }}</div>
                                <div class="box-info"><span class="box-info-label">Age: </span>{{ person.Age }}</div>
                                <div class="box-info"><span class="box-info-label">Race: </span>{{ person.Race }}</div>
                                <div class="box-info"><span class="box-info-label">Cause: </span>{{ person['Cause of Death'] }}</div>
                            </div>
                        </dir>
                    </div>
                    <!-- When user clicks on a box above, the details are shown in a drop-down box that can be re-hidden -->
                    <div id="personal-info">
                        <img ng-show="showImage" ng-src="{{image}}" class="photo">
                        <i ng-click="hideIndivudualInfo()" class="fa fa-2x fa-times" id="hide-icon" aria-hidden="true"></i>
                        <div id="demographics">
                            <div id="personal-info-name">{{name}}</div>
                            <div id="personal-info-demographics">{{race}} {{gender}}, {{age}} </div>
                            <div id="personal-info-city">{{city}}</div>
                        </div>
                        <div id="birth-and-cause">
                            <div class="answers">Date of death: {{date}}</div>
                            <div class="answers">Cause of death: {{cause}}</div>
                        </div>
                        <div class="questions" id="">Was the deceased armed?</div>
                        <div class="answers" id="">{{armed}}</div>
                        <div class="questions" id="">Did the deceased have priors?</div>
                        <div class="answers" id="">{{priors}}</div>
                        <div class="questions" id="">Was the officer involved fired or suspended? </div>
                        <div class="answers" id="">{{officer}}</div>
                        <div id="link">News story can be found
                            <a ng-show="showLink" ng-src="{{newsLink}}" class="news-link"> here. </a>
                        </div>
                    </div>
                    <!-- Separate controller for pagination -->
                    <div ng-controller="OtherController" class="other-controller col-lg-12">
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </div>
                    <!-- Pie chart section instructions -->
                    <div class="row">
                        <span class="list-label">
                            Statistics by Demographics
                        </span>
                    </div>
                    <div class="instructions">
                        Take a step back and look at the broader picture represented by the data.
                        Here you can view the statistics related to the deaths filtered by specific
                        categories. Click on the buttons on the left panel to change the chart and
                        view the facts regarding each demographic or scenerio.
                    </div>
                    <!-- Contains pie chart and bar graph -->
                    <div class="chart-container">
                        <!-- When the user clicks on different categories the graph changes -->
                        <div class="category-panel">
                            <div id="category-label">Categories</div>
                            <div class="category-button" onclick="createPieChart('Gender', this)">Gender</div>
                            <div class="category-button" onclick="createPieChart('Cause of Death', this)">Cause of Death</div>
                            <div class="category-button" id="race" onclick="createPieChart('Race', this)">Race</div>
                            <div class="category-button" onclick="createPieChart('Was the deceased armed?', this)">Civilian Armed</div>
                            <div class="category-button" onclick="createPieChart('Did the deceased have priors?', this)">Had Priors</div>
                            <div class="category-button" onclick="createPieChart('Was the officer involved fired or suspended?', this)">Officer Punished</div>
                        </div>
                        <!-- Pie chart with labels -->
                        <div class="pie-chart-container">
                            <div id="chart-labels"></div>
                            <div id="pie-chart"></div>
                        </div>
                    </div>
                    <!-- Bar chart instructions -->
                    <div class="row"></div>
                    <div id="bar-chart-container">
                        <div class="row">
                            <span class="list-label">
                                Highlights by Age
                            </span>
                        </div>
                        <div class="instructions">
                            Now let's take a closer look at the age range of the deceased individuals
                            and draw information from the statistics surrounding their death. Click on
                            any of the bars to view the specific facts for a given age range on the right
                            panel.
                        </div>
                        <!-- Bar chart with labels -->
                        <div id="bar-chart"></div>
                        <!-- When the user clicks on different bars on the graph the information displayed in this box changes -->
                        <div class="category-panel age-info">
                            <div id="category-label">Age Statistics</div>
                            <div id="age-label">25-29</div>
                            <div class="general-age-label">Number of deaths:</div>
                            <div class="general-age-response" id="age-number-deaths"></div>
                            <div class="general-age-label">Percentage armed: </div>
                            <div class="general-age-response" id="age-percentage-armed"></div>
                            <div class="general-age-label">Most common race:</div>
                            <div class="general-age-response" id="age-common-race"></div>
                            <div class="general-age-label">Officer punished: </div>
                            <div class="general-age-response" id="age-officer-punished"></div>
                        </div>
                    </div>
                    <!-- Sets up d3 charts -->
                    <script src="/js/d3charts.js"></script>
                </div>
            </div>
        </div>
        <!-- Footer with informational links -->
        <div class="footer col-lg-12">
            <span><a href="https://github.com/cgharford/J583-Project4" class="footer-link">Code repository</a></span>
            <i class="fa fa-certificate footer-icon" aria-hidden="true"></i>
            <span><a href="http://www.crowdflower.com/data-for-everyone/" class="footer-link">Source credit</a></span>
        </div>
    </body>
</html>
