body {
    background-color: white;
}

.header {
    background-color: #8a0917;
    background-image: url("http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    width: 100%;
    color: white;
    font-family: 'Volkhov', serif;
    font-size: 45px;
    text-align: center;
    padding: .5em;
}

.content-container {
    background-color: #B8AE9C;

}

.introduction {
    font-size: 18px;
    padding: 2em;
    line-height: 150%;
    font-weight: 200px;
    border-bottom: 1px dashed white;
    border-spacing: 50px;
    font-family: Helvetica;
    font-weight: 300;
}

.line {
    padding: 2em 0em;
    border-bottom: 1px dashed white;
}

.list-label {
    float: left;
    padding: 1.5em 0px 1em 45px;
    font-size: 20px;
    color: #595241;
    font-weight: bold;
}

.search {
    float: right;
    width: 250px;
    padding: 2em 45px 1em 0em;
}

.boxes {
    background-color: #ACCFCC;
    font-family: 'Volkhov', serif;
    color: white;
    margin: .75em;
    height: 180px;
    width: 180px;
    float: left;
    border-radius:1em;
    padding: 1em;
    cursor: pointer;
}

.box-name {
    color: #8A0917;
    font-size: 16px;
    text-align: center;
    padding: 2px 0px 10px 0px;
}

.box-info {
    padding: 5px 0px;
    color: white;
    font-size: 13px;
    font-family: sans-serif;;
    font-weight: normal;
    line-height: 100%;
}

.box-info-label {
    color: #595241;
}

#personal-info {
    padding: 20px 320px;
    line-height: 150%;
    font-size: 15px;
    color: black;
    font-weight: 200;
}

.photo {
    width: 25%;
    height: 25%;
    float: left;
    margin: 0em 1em 1em 0em;
}

#demographics {
    line-height: 170%;
}

#personal-info-name {
    font-size: 22px;
    font-weight: 200;
}

#personal-info-demographics {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#personal-info-city {
    color: #595241;
    font-weight: 600;
}

#birth-and-cause {
    padding: 1em 0em;
}

.questions {
    color: #8A0917;
    font-size: 18px;
    font-weight: bold;;
}

#link {
    padding: 2em 0em 0em 0em;
    color: #595241;
    font-size: 15px;
    font-weight: 500;
}

#hide-icon {
    color: #8A0917;
    float: right;
    cursor: pointer;
}

.news-link{text-decoration: none; color: white;}
.news-link:visited {text-decoration: none; color: white;}
.news-link:hover {text-decoration: none; color: #ACCFCC;}
.news-link:active {text-decoration: none; color: white;}


.pagination>li>a, .pagination>li>span {
    color: #A1C2BF;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #ACCFCC;
    border: 1px solid #ACCFCC;
}
.instructions {
    font-size: 18px;
    padding: 1em 2em;
    line-height: 150%;
    font-weight: 200px;
    border-spacing: 50px;
    font-family: Helvetica;
    font-weight: 200;
}

.chart-container {
    padding: 50px 30px;
}

.pie-chart-container {
    float: right;
}

.category-panel {
    background-color: white;
    border-radius: 1em;
    float: left;
    padding: 2em 4em;
}

#category-label {
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 200;
    text-align: center;
    padding-bottom: .5em;
}

.category-button {
    background-color: #eee;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    color: #595241;
}

.category-button:hover {
    background-color: #ACCFCC;
    cursor: pointer;
}

.category-button-active {
    background-color: #ACCFCC;
}

g.slice {
    /*font-size: 40px;*/
    font-family: Helvetica;
    font-weight: 400;
    cursor: pointer;
}

g.slice:hover {
    fill: #eee;

    font-weight: bold;
    display: block;
}

.pie-slice {
    border: 1px solid white;
}

.pie-slice:hover {
    fill: #ccc;
}

.pie-text {
    text-anchor: middle;
}

#chart-labels {
    text-align: center;
    padding-bottom: 2em;
}

.circle {
	padding: 5px;
    color: white;
    font-size: 13px;
}
