body {
    background-color: white;
}

.header {
    background-color: #8a0917;
    background-image: url("http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    width: 100%;
    color: white;
    font-family: 'Volkhov', serif;
    font-size: 45px;
    text-align: center;
    padding: .5em;
}

.content-container {
    background-color: #B8AE9C;
    padding-bottom: 4em;
}

.introduction {
    font-size: 18px;
    padding: 2em;
    line-height: 150%;
    font-weight: 200px;
    border-bottom: 1px dashed white;
    border-spacing: 50px;
    font-family: Helvetica;
    font-weight: 300;
}

.other-controller {
    padding-top: 2em;
}

.line {
    padding: 2em 0em;
    border-bottom: 1px dashed white;
}

.list-label {
    float: left;
    padding: 1.5em 0px 1em 52px;
    font-size: 20px;
    color: #595241;
    font-weight: bold;
}

.search {
    float: right;
    width: 250px;
    padding: 2em 45px 1em 0em;
}

.box-container {
    margin-right: 0em;
}

.boxes {
    background-color: #ACCFCC;
    font-family: 'Volkhov', serif;
    color: white;
    margin: .75em;
    height: 180px;
    width: 17.5%;
    float: left;
    border-radius:1em;
    padding: 1em;
    cursor: pointer;
}

.box-name {
    color: #8A0917;
    font-size: 16px;
    text-align: center;
    padding: 2px 0px 10px 0px;
}

.box-info {
    padding: 5px 0px;
    color: white;
    font-size: 13px;
    font-family: sans-serif;;
    font-weight: normal;
    line-height: 100%;
}

.box-info-label {
    color: #595241;
}

#personal-info {
    padding: 20px;
    line-height: 150%;
    font-size: 15px;
    color: black;
    font-weight: 200;
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: .5em;
    margin: auto;
    margin-top: 2em;
}

.photo {
    width: 25%;
    height: 25%;
    float: left;
    margin: 0em 1em 0em 0em;
}

#demographics {
    line-height: 170%;
}

#personal-info-name {
    font-size: 22px;
    font-weight: 200;
}

#personal-info-demographics {
    color: #C7B791;
    font-size: 16px;
    font-weight: bold;
}

#personal-info-city {
    color: #595241;
    font-weight: 600;
}

#birth-and-cause {
    padding: 1em 0em;
}

.questions {
    color: #8A0917;
    font-size: 18px;
    font-weight: bold;;
}

#link {
    padding: 2em 0em 0em 0em;
    color: #595241;
    font-size: 15px;
    font-weight: 500;
}

#hide-icon {
    color: #8A0917;
    float: right;
    cursor: pointer;
}

.news-link{text-decoration: none; color: #C7B791;}
.news-link:visited {text-decoration: none; color: #C7B791;}
.news-link:hover {text-decoration: none; color: #ACCFCC;}
.news-link:active {text-decoration: none; color: #C7B791;}


.pagination>li>a, .pagination>li>span {
    color: #A1C2BF;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #ACCFCC;
    border: 1px solid #ACCFCC;
}
.instructions {
    font-size: 18px;
    padding: 1em 2em;
    line-height: 150%;
    font-weight: 200px;
    border-spacing: 50px;
    font-family: Helvetica;
    font-weight: 200;
}

.chart-container {
    padding: 50px 30px;
}

.pie-chart-container {
    float: right;
}

.category-panel {
    background-color: white;
    border-radius: 1em;
    float: left;
    padding: 2em 4em;
    margin-right: 4em;
}

#category-label {
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 200;
    text-align: center;
    padding-bottom: .5em;
}

.category-button {
    background-color: #eee;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    color: #595241;
}

.category-button:hover {
    background-color: #8a0917;
    color: #eee;
    cursor: pointer;
}

.category-button-active {
    background-color: #ACCFCC;
}

g.slice {
    font-family: Helvetica;
    font-weight: 400;
    cursor: pointer;
}

g.slice:hover {
    fill: #eee;
    font-weight: bold;
    display: block;
}

.pie-slice {
    border: 1px solid white;
}

.pie-slice:hover {
    fill: #ccc;
}

.pie-text {
    text-anchor: middle;
}

#chart-labels {
    text-align: center;
    padding-bottom: 2em;
}

.circle {
	padding: 8px;
    color: white;
    font-size: 13px;
    font-weight: 300;
}

#bar-chart {
    float: left;
    margin-left: 2em;
}

.bars  {
  font: 10px sans-serif;
  background-color: #ACCFCC;
  text-align: right;
  padding: 5px;
  margin: 7px;
  color: white;
  height: 20px;
}

.bars:hover {
  background-color: #eee;
  cursor: pointer;
}

.selected-bar {
    background-color: #8a0917;
}

.bar-container {
    margin-left: 55px;
}

.bar-label {
    position: absolute;
    left: 52px;
}

.bar-percentage {
    margin-right: -80px;
    font-size: 20px;
    margin-top: -5px;
    font-weight: 300;
}

.age-info {
    float: right;
    margin-right: 2em;
    height: 405px;
}

#age-label {
    color: #8a0917;
    font-size: 40px;
    font-family: 'Volkhov', serif;
    text-align: center;
    margin-top: -10px;
}

.general-age-label {
    text-align: left;
    color: black;
    font-size: 17px;
    margin-left: -20px;
}

.general-age-response {
    text-align: left;
    font-size: 20px;
    color: #ACCFCC;
    font-weight: bold;
    margin-left: -20px;
    padding: .25em 0em;
}

.footer {
    background-color: #8a0917;
    background-image: url("http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: 'Volkhov', serif;
    text-align: center;
    padding: .5em;
}

/* Styles for responsiveness */
@media screen and (max-width: 1300px) {
    .pie-chart-container {
        float: none;
    }
}

@media screen and (max-width: 1200px) {
    #bar-chart {
        float: none;
        padding-bottom: 2em;
    }
    .age-info {
        float: none;
        margin: 2em 4em 0em 4em;
    }
}

@media screen and (max-width: 949px) {
    .boxes {
        width: 22%;
    }
}

@media screen and (max-width: 900px) {
    .introduction {
        padding: 1em;
    }
    .list-label {
        padding: 1.5em 0px .25em 33px;
    }
    .box-container {
        margin-left: -30px;
    }
    .instructions {
        padding: 1em 1em;
    }
    #chart-labels {
        padding-top: 2em;
    }
    .bar-container {
        margin-left: 35px;
    }
    .bar-label {
        left: 33px;
    }
    .category-panel {
        float: none;
        margin: auto;
    }
    .chart-container {
        padding: 15px 19px;
    }
}

@media screen and (max-width: 799px) {
    .boxes {
        width: 29%;
    }
    .search {
        float: none;
        display: block;
        margin: auto;
        margin-left: 34%;
        padding-top: 100px;
    }
}


@media screen and (max-width: 700px) {
    .header {
        font-size: 32px;
    }
}

@media screen and (max-width: 599px) {
    .boxes {
        width: 44%;
    }
    .search {
        margin-left: 30%;
    }
}


@media screen and (max-width: 500px) {
    .age-info {
        margin: 2em 1em 0em 1em;
    }
}

@media screen and (max-width: 449px) {
    .boxes {
        width: 100%;
    }
    .box-container {
        margin-right: 29px;
    }
    .search {
        margin-left: 24%;
    }
}
